MONGO_URI= database_url
PORT=5001

REDIS_HOST=localhost
REDIS_PORT=6379

WEBHOOK_SECRET= secret
GITHUB_WEBHOOK_SECRET= secret

DISCORD_WEBHOOK_URL= discord_server_webhook_url

TRUST_PROXY=1

STRIPE_SECRET_KEY= secret
STRIPE_WEBHOOK_SECRET= secret